
@model IEnumerable<BookShop.Models.ViewModels.TreeViewCategory>

@foreach (var item in Model)
{
    <ul>
        <li>
            <input type="checkbox" value="@item.Category_Id" name="CategoryID" /> @item.CategoryName
           
            @await Html.PartialAsync("_SubCategories",item.SubCategory)
        </li>
       
    </ul>
}