
@model IEnumerable<BookShop.Models.ViewModels.TreeViewCategory>

@{ var d = new List<int>();}
@if (ViewBag.showcategory != null)
{
    d = ViewBag.showcategory as
        List<int>;
}
 @*if the category selected and dont insert book this category is selected by redirect pageing is easy *@
<ul>
    @foreach (var item in Model)
    {
        var f =d.Where (x => x == item.id).Select(x => (int)x).Any();
        if (f)
        {

            <li>
                <input type="checkbox" checked="checked" name="CategoryID" value="@item.subs" />
                @item.title
        

            </li>
        }
        else
        {
            <li>

                <input type="checkbox" name="CategoryID" value="@item.id" /> @item.title

                @await Html.PartialAsync("_SubCategories", item.subs)
            </li>
        }
    }
</ul>